{% load static %}
<!DOCTYPE html>
<html="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="stylesheet" href="{% static 'baseapp/css/stylesheet.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'baseapp/css/navbar.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'baseapp/css/footer.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'enrollment/css/enroll.css' %}" type="text/css">  
   <title>Enrollment Page</title>
 </head>

<body>  
{% include "baseapp/navbar.html" %}
{% block enroll_form %}
    <!-- <h1>Enrollment page</h1> -->

<div class="form">
    <form action="" class="content-form">
    <div class="form-grid">


    <div class="form-div1">          
        <h5>Owner's Name</h5>
        <input required="true" type="text" >
        <span>First Name</span>        
    </div>

    <div class="form-div2">
        <input required="true" type="text" >
        <span>Last Name</span>     
    </div>
    <div class="form-div3">
        <h5>Address</h5>
        <input required="true" type="text" >
        <span>Street Addres</span>   
    </div>
    <!-- <div class="form-div4">div4 span</div> -->
    <div class="form-div5">
                <input required="true" type="text" >
        <span>Address Line 2<span>   
    </div>
    <div class="form-div7">
                <input required="true" type="text" >
        <span>City</span>   
    </div>
    <div class="form-div8">
                <input required="true" type="text" >
        <span>State / Province / Region</span>   
    </div>
    <div class="form-div9">
                <input required="true" type="text" >
        <span>Zip / Postal Code</span>   
    </div>
    <div class="form-div10">
                <input required="true" type="text" >
        <span>Country</span>   
    </div>
    <div class="form-div11">
        <h5>Phone *</h5>
        <input required="true" type="text" >   
    </div>
    <div class="form-div12">
        <h5>Email *</h5>
        <input required="true" type="text" >
    </div>
    <div class="form-div13">
        <h5>Dog's Name *</h5>
                <input required="true" type="text" > 
    </div>
    <div class="form-div15">
        <h5>Breed & Sex *</h5>
                <input required="true" type="text" >
     </div>
    <div class="form-div16">
        <h5>Age/DOB</h5>
                <input required="true" type="text" >
    </div>
    <div class="form-div17">
        <h5>License (If Applicable)</h5>
        <input required="true" type="text" >
    </div>
    <div class="form-div19">
        <input required="true" type="text" >
        <span>Vaccinations Upload Area</span>   
    </div>
    <div class="form-div20">
    </div>
    <div class="form-div21">
                <input required="true" type="text" >
        <span>Last Name</span>   
    </div>
    <div class="form-div22">
                <input required="true" type="text" >
        <span>Last Name</span>   
    </div>
    <div class="form-div23">
                <input required="true" type="text" >
        <span>Last Name</span>   
    </div>
    <div class="form-div24">
                <input required="true" type="text" >
        <span>Last Name</span>   
    </div>
    <div class="form-div25">
                <button>Submit</button>
    </div>
    </div>
 </form>
</div>
{% endblock %}

{% include "baseapp/footer.html" %}

</body>
<script>
    
</script>
    
</html>

