button.login-btn {
  color: var(--thirty-percent);
  background: var(--background-color);
  cursor: pointer;
  border: 1px solid var(--background-color);
  border-radius: 20px;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #02020214, 0px -1px 12px var(--purewhite-color);
  align-self: center;
  width: 100%;
  margin: 2em 0;
  font-size: var(--font-lg);
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

label {
  align-self: flex-start;
  font-family: var(--main-font);
  font-size: var(--font-lg);
  font-weight: 700;
  color: var(--text-color-dark);
  margin: 0.5em 0;
}

input {
  /* box-shadow: 6px 6px 12px #02020214, 0px -1px 12px var(--purewhite-color); */
  width: 100%;
  height: 2.5em;
  border-radius: 20px;
  text-indent: 1rem;
  font-size: var(--font-nm);
  border: solid 2px var(--sixty-percent);

  &:focus,
  &:active {
    box-shadow: var(--ten-percent) 0px 30px 30px -20px;
  }
}

.parent-row-x {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 4em 2em;

  .card-grid {
    display: flex;
    flex-flow: row wrap;
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .card-grid {
    justify-content: unset;
    column-gap: 0px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    align-items: flex-start;
    justify-content: flex-start;

    /* width: clamp(10rem, 12vw, 12rem);
    height: 100%; */
    h5 {
      font-size: var(--font-nm);
      color: var(--ten-percent);
    }

    p {
      font-size: var(--font-sm);
    }

    :nth-child(1n + 2) {
      margin-top: auto;
      margin-bottom: 0em;
    }
  }
}

.section-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0em 4em;

  h1,
  h3 {
    margin: 0;
  }
}

.section-mt-5 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  margin: 2em 4em;
}

.section-mt-6 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  margin: 2em 4em;

  .client-cards {
    width: clamp(20em, 40vw, 80em);
  }
}

.client-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  border-radius: 20px;
  background-color: var(--purewhite-color);
  margin: 0.5em 0 3em;
  padding: 1em;
  width: clamp(10em, 28vw, 30em);
  white-space: wrap;

  h5,
  p {
    margin: 0;
    padding: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: var(--font-nm);
  }

  h5 {
    font-size: var(--font-md);
    font-weight: 400;
  }
}

.cl-card-1 {
  grid-area: 1 / 1 / 2 / 3;
}

.cl-card-2 {
  grid-area: 1 / 3 / 2 / 5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cl-card-3 {
  grid-area: 2 / 1 / 3 / 5;
}

.cl-card-4 {
  grid-area: 3 / 1 / 4 / 4;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.cl-card-5 {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--purewhite-color);
  margin: 0.5em 0 3em;
  padding: 1em;
  width: clamp(20em, 20vw, 30em);
  height: clamp(20em, 80vh, 50em);

  /* border: solid 1px var(--thirty-percent); */
  :first-child {
    align-self: center;

    a {
      text-decoration: none;
      color: var(--sixty-percent);
    }
  }
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
}

button a {
  text-decoration: none;
  color: var(--thirty-percent);
}

.fgp {
  :first-child {
    font-size: var(--font-md);
    text-decoration: none;
    color: var(--sixty-percent);
  }
}

  .block-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    width: 80%;
  }

.blocking {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
  "block-1"
  "block-2";
  border-radius: 20px;
  box-shadow: 6px 6px 12px #02020214, 0px -1px 12px var(--purewhite-color);
  padding: .35em;
  word-wrap: break-word;
  width: clamp(8em, 10vw, 8em);
  height: clamp(6em, 8vw, 8em);
  a {
    text-decoration: none;
    font-size: var(--font-nm);
    font-family: var(--main-font);
    font-size: 700;
    color: var(--thirty-percent);
  }
}

.block-1 {
  grid-area: block-1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding:0;
}

.block-2 {
  grid-area: block-2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  text-align: center;
}


.needs-attention {
  background-color: rgba(248, 78, 78, 0.651)
}

.completed {
  background-color: rgba(172, 255, 47, 0.377);
}

@media (max-width: 780px) {
  .section-mt-5 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 2em 4em;

    .client-cards {
      width: clamp(18em, 20vw, 20em);
    }
  }

  .section-mt-6 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2em 4em;

    .client-cards {
      width: clamp(20em, 20vw, 30em);
    }
  }

  .block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between;
    margin: 1em 0; */
  }

  .blocking {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(10em, 30vw, 20em);
  }
}





@media screen and (781px <=width <=1024px) {
  .section-mt-5 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2em 4em;

    .client-cards {
      width: clamp(26em, 40vw, 40em);
    }
  }

  .section-mt-6 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2em 4em;

    .client-cards {
      width: clamp(30em, 40vw, 40em);
    }
  }
}