button {
  white-space: nowrap;
}

.parent-row-x {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 4em 2em;
  .card-grid {
    display: flex;
    flex-flow: row wrap;
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .card-grid {
    justify-content: unset;
    column-gap: 0px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    align-items: flex-start;
    justify-content: flex-start;
    width: clamp(10rem, 12vw, 12rem);
    height: 100%;
    h5 {
      font-size: var(--font-nm);
      color: var(--ten-percent);
    }
    p {
      font-size: var(--font-sm);
    }
    :nth-child(1n + 2) {
      margin-top: auto;
      margin-bottom: 0em;
    }
  }
}

.section-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0em 4em;
  h1,
  h3 {
    margin: 0;
  }
}

.section-mt-5 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  margin: 2em 4em;
}

.section-mt-6 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  margin: 2em 4em;
  .client-cards {
    width: clamp(20em, 40vw, 80em);
  }
}

.client-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  border-radius: 20px;
  background-color: var(--purewhite-color);
  margin: 0.5em 0 3em;
  padding: 1em;
  width: clamp(10em, 28vw, 30em);
  white-space: wrap;
  h5,
  p {
    margin: 0;
    padding: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: var(--font-nm);
  }
  h5 {
    font-size: var(--font-md);
    font-weight: 400;
  }
}

.cl-card-1 {
  grid-area: 1 / 1 / 2 / 3;
}
.cl-card-2 {
  grid-area: 1 / 3 / 2 / 5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.cl-card-3 {
  grid-area: 2 / 1 / 3 / 5;
}
.cl-card-4 {
  grid-area: 3 / 1 / 4 / 4;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.cl-card-5 {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 780px) {
  .section-mt-5 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 2em 4em;
    .client-cards {
      width: clamp(18em, 20vw, 20em);
    }
  }

  .section-mt-6 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2em 4em;
    .client-cards {
      width: clamp(20em, 30vw, 30em);
    }
  }
}

@media screen and (781px <=width <=1024px) {
  .section-mt-5 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2em 4em;
    .client-cards {
      width: clamp(26em, 40vw, 40em);
    }
  }

  .section-mt-6 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2em 4em;
    .client-cards {
      width: clamp(30em, 40vw, 40em);
    }
  }
}