{% load static %}
<!DOCTYPE html>
<html="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="stylesheet" href="{% static 'baseapp/css/index.css' %}" type="text/css">
   <!-- <link rel="stylesheet" href="{% static 'baseapp/css/queries.css' %}" type="text/css"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  </head>
  
  <body>    
    {% block main %}   
      <div class="main">
        <div class="section_one">
          <h1>
            Digital Estate Prep for Seniors & Families
          </h1>
          <h5>
            Helping seniors and their families organize digital accounts, passwords, online access and digitize documents so everything is clear, secure, and ready when it matters most.
          </h5>
        </div>
        <div class="section_two">
          <img src="/static/baseapp/images/1.svg"/>
          <img src="/static/baseapp/images/4.svg"/>
          <img src="/static/baseapp/images/7.svg"/>
          <div class="packages">
            <img src="/static/baseapp/images/BasicPack.svg"/>
            <img src="/static/baseapp/images/StandardPack.svg"/>
            <img src="/static/baseapp/images/PremiumPack.svg"/>
          </div>
        </div>

<!-- Mobile Fields -->
        <div class="section_one_mobile">
          <img src="/static/baseapp/images/Monogram.png"class="logo top-corner"/>   
          <h1>
            Digital Estate Prep for Seniors & Families
          </h1>
          <h5>
            Helping seniors and their families organize digital accounts, passwords, online access and digitize documents so everything is clear, secure, and ready when it matters most.
          </h5>
        </div>
         <div class="section_two_mobile">
          <img src="/static/baseapp/images/2.svg"/>
          <img src="/static/baseapp/images/5.svg"/>
          <img src="/static/baseapp/images/8.svg"/>
          <div class="packages">
            <img src="/static/baseapp/images/BasicPack.svg"/>
            <img src="/static/baseapp/images/StandardPack.svg"/>
            <img src="/static/baseapp/images/PremiumPack.svg"/>
          </div>
        </div>    
<!-- End Mobile Feild  -->
      </div>
    
    {% endblock %}

        <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>
        <script src="{% static 'baseapp/js/index.js' %}"></script>   
        <!-- End body-->
      </body>
 
  
  </html>
