{% load static %}
<!DOCTYPE html>
<html="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="stylesheet" href="{% static 'baseapp/css/stylesheet.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'baseapp/css/index.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'baseapp/css/queries.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'baseapp/css/navbar.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'baseapp/css/footer.css' %}" type="text/css">
   <title>Test Page</title>
  </head>
  
  <body>    
    <!-- <div class="main-container overlay"><img src="/static/baseapp/images/Clients.png"/></div> -->
    {% include "baseapp/navbar.html" %}
    {% block index %}   
    <main>
      <div class="headlines">
        <h1>All breed dog obedience</h1>
        <img src="/static/baseapp/images/logo.png" alt="logo">
        <h3>Experience the Joy of a Perfectly Behaved Dog - Championship Training for Everyday Life.</h3>
        <p>With over 66 years of experience training all breeds of dogs, 
          we possess the in-depth knowledge and proven expertise
          to guide you and your canine companion to success.
        </p>      
      </div>     
    
      
      <div class="infographic-container">
        <div class="TopLeftGrid">
          <h1>Our comprehensive training</h1>
          <h3>Obedience Classes</h3>
          <p>Beginner, Advanced, Puppy, and Flex-schedule classes </p>
        </div>
        <div class="TopRightGrid">
          <h1>What we prioritize</h1>
          <h3>Small class sizes</h3>
          <p>Ensuring individualized attention and a supportive learning environment.</p>
        </div>
        <div class="CenterLeftGrid">
          <h3>Specialized Training</h3>
          <p>Scent Work, Service Dog, Therapy Dog, Conformation, and Competition</p>
        </div>
        <div class="CenterRightGrid">
          <h3>Training for all dogs</h3>
          <p>8 weeks and older, regardless of breed or background</p>
        </div>
      <div class="BottomLeftGrid">
        <h3>Personalized Training Options</h3>
        <p>Private Lessons and Board & Train</p>
      </div>
      <div class="BottomRightGrid">
        <h3>A commitment to excellence</h3>
        <p>In every aspect of dog training and behavior modification</p>
      </div>
      <div class="CenterGrid">
        <img src="static/baseapp/images/happydog.svg" class="center-img"/>
      </div>
    </div>
    
    <div class="infographic-container-mobile">

      <img src="static/baseapp/images/happydog.svg" class="center-img"/>
      <h1>Our comprehensive training</h1>
        <h3>Obedience Classes</h3>
         <p>Beginner, Advanced, Puppy, and Flex-schedule classes </p>
        <h3>Specialized Training</h3>
         <p>Scent Work, Service Dog, Therapy Dog, Conformation, and Competition</p>
        <h3>Personalized Training Options</h3>
         <p>Private Lessons and Board & Train</p>
      <h1>What we prioritize</h1>
        <h3>Small class sizes</h3>
         <p>Ensuring individualized attention and a supportive learning environment.</p>         
        <h3>Training for all dogs</h3>
          <p>8 weeks and older, regardless of breed or background</p>
        <h3>A commitment to excellence</h3>
         <p>In every aspect of dog training and behavior modification</p>
    </div>

 
    <div class="comp-chart">
      <img src="static/baseapp/images/CompChart.svg" class="comp-img"/>
    </div>

    <div class="comp-chart-mobile">
      <h1>Test 2</h1>
    </div>
    
  </main>
  {% endblock %}
  {% include 'baseapp/footer.html' %}
        <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>
        <script src="{% static 'baseapp/js/index.js' %}"></script>   
        <!-- End body-->
      </body>
 
  
  </html>
