{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'baseapp/css/navbar.css' %}" type="text/css">
    <title>Mobile</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <button id="open-sidebar-button" onclick="openSidebar()" aria-label="open sidebar" aria-expanded="false" aria-controls="navbar">
        <img src="/static/baseapp/images/menu_icon.svg" class="menu"/>    
    </button>
  
    <nav id="navbar">
      <ul>
        <li>
          <button id="close-sidebar-button" onclick="closeSidebar()" aria-label="close sidebar">
            <img src="/static/baseapp/images/close_icon.svg"/>
        </button>
        </li>
        <li class="home-li"><a class="active-link" aria-current="page" href="{% url 'home_main:home' %}">Home</a></li>
        <li><a href="#">About us</a></li>
        <li class="classes"><a href="#">Class</a></li>
        <li class="dropdown">
            <button class="dropbtn">Classes
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <div class="dd-row">
                <div class="div1"></div>
                <div class="div2">
                  <h3>Training Options</h3>
                    <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarrow.svg"/>Puppy</a></div>
                      <p class="tag">Set a solid foundation for your puppy.</p>
                    </div>
                  <div>
                    <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarrow.svg"/>Beginner</a></div>
                     <p class="tag">Start your dog's training journey today.</p>
                     </div>
                    </div>
                     <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarrow.svg"/>Advanced</a></div>
                    <p class="tag">Take your dog's skills to the next level!</p>
                    </div>
                </div>
                <div class="div3">
                  <h3>Specialized Training</h3>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarrowblue.svg"/>Conformation</a></div>
                    <p class="tag">Prepare for dog shows with expert guidance.</p>
                  </div>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarrowblue.svg"/>Service Dog</a></div>
                    <p class="tag">Train your dog for essential service tasks.</p>
                  </div>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarrowblue.svg"/>Rally</a></div>
                    <p class="tag">Engage in fun and interactive rally courses!</p>
                  </div>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarrowblue.svg"/>Scent Work</a></div>
                    <p class="tag">Discover your dog's natural scenting abilities.</p>
                   </div>
                <div>
                  <div><a href="#"><img src="/static/baseapp/images/selectarrowblue.svg"/>Therapy Dog</a></div>
                    <p class="tag">Provide comfort and support to others.</p>
                    </div>
                </div>
                <div class="div4">
                  <h3>Get Started</h3>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarroworange.svg"/>Enrollment</a></div>
                      <p class="tag">Sign up for classes or cosultation today.</p>
                    </div>
                  <div>
                    <div><a href="{% url 'faqs_page:faqs' %}" ><img src="/static/baseapp/images/selectarroworange.svg"/>FAQs</a></div>
                      <p class="tag">Find answers to common questions.</p>
                    </div>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarroworange.svg"/>Testimonials</a></div>
                      <p class="tag">Read Success stories from our clients</p>
                    </div>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarroworange.svg"/>Conact Us</a></div>
                      <p class="tag">Reach out for inquires and support.</p>
                    </div>
                  <div>
                    <div><a href="#"><img src="/static/baseapp/images/selectarroworange.svg"/>Meet Our Team</a></div>
                      <p class="tag">Learn about our experienced trainers.</p>
                    </div>
                </div>
                  <div class="div5">
                        <div class="centered"><img src="/static/baseapp/images/pin.svg" class="nav-icons"/><p>77380 Hickman Road, Windsor Heights, Iowa 50324</p></div>
                        <div class="centered"><img src="/static/baseapp/images/mail.svg" class="nav-icons"/><p>info@allbreeddogobedience.com</p></div>
                        <div class="centered"><img src="/static/baseapp/images/phone.svg" class="nav-icons"/><p>(515) 650-1991 | (347) 564-6036</p></div>
                        <div class="right"><img src="/static/baseapp/images/facebook.svg" class="nav-icons fb"/>
                        <img src="/static/baseapp/images/instagram.svg" class="nav-icons insta"/>
                        <img src="/static/baseapp/images/youtube.svg" class="nav-icons yt"/>
                      </div>
                  </div>
              </div>
            </div>
        </li>
        <li><a href="#">Our Philosphy</a></li>
        <li><a href="{% url 'faqs_page:faqs' %}" >FAQs</a></li>
        <li><a class="accent-link" href="#">Login</a></li>
      </ul>
    </nav>
    
    <div id="overlay" onclick="closeSidebar()" aria-hidden="true"></div>    

    <script src="{% static 'baseapp/js/mobile.js' %}"></script>   
    <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

</body>
</html>
