{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'baseapp/css/stylesheet.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'baseapp/css/navbar.css' %}" type="text/css">
  <link
    href="https://fonts.googleapis.com/css2?family=Courgette&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
  <title>Mobile</title>
</head>

<body>
  <!-- <a href="#main-content" class="skip-link">Skip to main content</a> -->

  <button id="open-sidebar-button" onclick="openSidebar()" aria-label="open sidebar" aria-expanded="false"
    aria-controls="navbar">
    <img src="/static/baseapp/images/MenuButton.svg" class="nav-icons" />

  </button>

  <nav id="navbar">
    <ul>
      <button id="close-sidebar-button" onclick="closeSidebar()" aria-label="close sidebar">
        <img src="/static/baseapp/images/Close.svg" class="nav-icons" />
      </button>
      <li class="classes"><img src="/static/baseapp/images/Monogram.png" class="logo" id="site-title" /></li>
      <li class="classes marginLeft "><a aria-current="page" href="{% url 'home_main:home' %}">Home</a></li>
      <li class="classes"><a href="{% url 'faqs_page:faqs' %}">FAQs</a></li>
      <!-- If the user is logged in, show the Logout button/link -->
        {% if user.is_authenticated %}
      <a href="{% url 'accounts:dashboard' %}">My Dashboard</a>
      {% endif %}
      <li class="classes login-button">
        {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
        <!-- If the user is not logged in, show the Login button/link -->
        <a href="{% url 'accounts:login' %}">Login</a>
        {% endif %}
      </li>

      <!-- <li class="classes login-button"><a href="{% url 'accounts:login' %}">Login</a></li> -->
    </ul>
  </nav>


  <div id="overlay" onclick="closeSidebar()" aria-hidden="true"></div>

  <script src="{% static 'baseapp/js/mobile.js' %}"></script>
  <script src="{% static 'baseapp/js/login.js' %}"></script>
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

</body>

</html>