
.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  input {
    width: 100%;
  }
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  * {
    padding: 1em;
  }
}

.modify-form {
  border-radius: 20px;
  background-color: var(--purewhite-color);
  padding: 2em;
}

.delete-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  /* width: 100%; */
  box-shadow:
    6px 6px 12px #02020214,
    0 -1px 12px var(--purewhite-color);
  padding: 2em;
  border-radius: 20px;
}

.list-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--purewhite-color);
  padding: 2em;
  border-radius: 20px;
}

.detail-view {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  background-color: var(--purewhite-color);
  padding: 2em;
  border-radius: 20px;
}

.cancel {
  color: red;
  padding: 0.7em 1.7em;
  border-radius: 1.5em;
  background: var(--background-color);
  cursor: pointer;
  border: 1px solid var(--background-color);
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #02020214, 0px -1px 12px var(--purewhite-color);
  font-size: var(--font-nm);
  font-family: var(--main-font);
  font-weight: 600;
  width: max-content;
  /* margin-right: auto; */
  text-decoration: none;
}

.form-label {
  font-size: var(--font-nm);
  font-family: var(--main-font);
  font-weight: 700;
  color: var(--ten-percent);
}

.client-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  border-radius: 20px;
  /* background-color: var(--purewhite-color); */
  margin: 0.5em 0 3em;
  padding: 1em;
  width: clamp(18em, 24vw, 30em);
  white-space: wrap;


  h5,
  p {
    margin: 0;
    padding: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: var(--font-nm);
  }


  h5 {
    font-size: var(--font-md);
    font-weight: 400;
  }
}


.cl-card-1 {
  grid-area: 1 / 1 / 2 / 3;
}


.cl-card-2 {
  grid-area: 1 / 3 / 2 / 5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}


.cl-card-3 {
  grid-area: 2 / 1 / 3 / 5;
}


.cl-card-4 {
  grid-area: 3 / 1 / 4 / 4;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}


.cl-card-5 {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}


.login-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--purewhite-color);
  margin: 0.5em 0 3em;
  padding: 1em;
  width: clamp(20em, 20vw, 30em);
  height: clamp(20em, 80vh, 50em);


  /* border: solid 1px var(--thirty-percent); */
  :first-child {
    align-self: center;


    a {
      text-decoration: none;
      color: var(--sixty-percent);
    }
  }
}
