/* body {
  background-image: url(../images/3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5.1px);
} */

.main {
    /* background-color: var(--ten-percent); */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    h1 {
        font-family: var(--title-font);
        font-size: var(--font-title-size);
        color: var(--sixty-percent);
        /* letter-spacing: 0.3rem; */
    }
    h5 {
        font-family: var(--main-font);
        font-weight: 100;
        font-size: var(--font-lg);
        color: var(--sixty-percent);
        /* letter-spacing: 0.2rem; */
    }
    p {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: var(--font-md);
        color: var(--sixty-percent);
    }
}

.spacer {
  margin: 10em 0 0;
}

.parent {
  width:inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon-row {
  width: inherit;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin:1em 0 0 0;
  img {
    min-width: 8em;
    max-width: 10em;
  }
}

.paragraph-row {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 2em 0 0;
  h3 {
    position: absolute;
    margin: 12em 0 0;
    padding: 1em;
    font-weight: 700;
    color: f5bf00;
    background: rgba(245, 191, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(245, 191, 0, 0.3);
  }
}

.info {
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease-in-out;
  margin: 0;
}

.info.active {
  opacity: 1;
  visibility: visible;
}

.toggle-wrapper:hover .info {
  opacity: 1;
  visibility: visible;
}

.toggle-wrapper {
  position: relative;
  display: inline-block;
}

.toggle-img {
  transition: 300ms ease-in-out;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}
/* 
.toggle-img:hover {
  scale: 1;
} */

.toggle-wrapper::before {
  content: "";
  position: absolute;
  inset: 50%;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  border: 10px solid var(--accent-color);
  /* background: linear-gradient(135deg, #e5dada 0%, #3c7a89 50%, #16262e 100%); */
  /* Or try these alternatives: */
  /* background: radial-gradient(
    circle,
    rgba(229, 218, 218, 1) 0%,
    rgba(60, 122, 137, 1) 50%,
    rgba(22, 38, 46, 1) 100%
  ); */
  /* background: conic-gradient(from 0deg, #e5dada, #3c7a89, #16262e);  */
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease-in-out;
  z-index: -1;
}

.toggle-wrapper:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.call-tags {
  width: inherit;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2em 0;
  position: relative;
  h1 {
    font-size: var(--font-md);
    text-align: start;
    /* padding: 0.25em; */
  }
}

.call-tags::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  box-shadow: -1px -20px 20px 20px rgb(255 255 255 / 0%);
  z-index: -1; /* Place behind the main element */
  border-radius: 30px 30px 0 0;
}

.call-tags::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100%;
  height: 100%;
  box-shadow: 4px 6px 10px rgb(22 38 46 / 16%);
  z-index: -1; /* Place behind the main element */
  border-radius: 0 0 30px 30px;
}

.section_one {
    background-color: var(--ten-percent);
    /* margin: 2em; */
    /* padding: 12em 20em; */
    /* padding: 5em 2em; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1, h5 {
        width:60%;        
    }
}

/* Mobile Media */
@media (max-width: 780px) {
  .main_mobile{ display: block !important; }
  .main{display: none !important;}
}
/* Tablet Media */
@media screen and  (781px <= width <= 1024px) {
  .main_mobile { display: none !important; }
  .main{display: flex !important;}
}
/* Full Size Media */
@media (min-width: 1025px) {
  .main_mobile { display: none !important; }
  .main{display: flex !important;}
}


.mobile-adjustment {
  width:80%;
}

.section_one_mobile {
    background-color: var(--ten-percent);
    /* margin: 2em; */
    /* padding: 12em 20em; */
    /* padding: 5em 2em; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
        font-family: var(--title-font);
        font-size: var(--font-lg);
        color: var(--sixty-percent);
        /* letter-spacing: 0.3rem; */
    }
    h5 {
        font-family: var(--main-font);
        font-weight: 100;
        font-size: var(--font-nm);
        color: var(--sixty-percent);
        /* letter-spacing: 0.2rem; */
    }
    p {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: var(--font-nm);
        color: var(--sixty-percent);
    }
}
.parent_mobile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 5em 2em;
    h5 {
        margin:0 0 0.5em;
        padding:0;
        font-size: var(--font-md);
        font-family: var(--main-font);
        font-weight: 500;
        text-align: start;
    }
    p {
        /* margin: 0 0 10em; */
        padding: 0;
        font-size: var(--font-nm);
        font-family: var(--paragraph-font);
        font-weight: 300;
        text-align: start;
    }
    img{
        min-width: 12.5em;
        max-width: 14em;
    }
    div:nth-child(3n+3) {
      margin: 0 0 10em;
    }
    
    div:nth-child(3n+1){
      display: flex;
      align-items: center;
    }
}


/* row-start | column-start | row-end | column-end */
.grid1 { grid-area: 1 / 1 / 2 / 2; }
.grid2 { grid-area: 1 / 3 / 2 / 6; }
.grid3 { grid-area: 2 / 1 / 3 / 6; }

.grid4 { grid-area: 3 / 5 / 4 / 6; }
.grid5 { grid-area: 3 / 1 / 4 / 5; }
.grid6 { grid-area: 4 / 1 / 5 / 6; }

.grid7 { grid-area: 5 / 1 / 6 / 2; }
.grid8 { grid-area: 5 / 3 / 6 / 6; }
.grid9 { grid-area: 6 / 1 / 7 / 6; }

.grid10 { grid-area: 7 / 5 / 8 / 6; }
.grid11 { grid-area: 7 / 1 / 8 / 5; }
.grid12 { grid-area: 8 / 1 / 9 / 6; }

.grid13 { grid-area: 9 / 1 / 10 / 2; }
.grid14 { grid-area: 9 / 3 / 10 / 6; }
.grid15 { grid-area: 10 / 1 / 11 / 6; }

.grid16 { grid-area: 11 / 5 / 12 / 6; }
.grid17 { grid-area: 11 / 1 / 12 / 5; }
.grid18 { grid-area: 12 / 1 / 13 / 6; } 