.footer-grid {
  display: grid;
  gap: 0px 0px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: clamp(2em, 8em, 10em);
}

.grid-ft-1 { grid-area: 1 / 1 / 6 / 2; }
.grid-ft-2 { grid-area: 1 / 2 / 6 / 3; }
.grid-ft-3 { grid-area: 1 / 3 / 3 / 4; }
.grid-ft-4 { grid-area: 1 / 4 / 3 / 5; }
.grid-ft-5 { grid-area: 1 / 5 / 3 / 6; }
.grid-ft-6 { grid-area: 3 / 5 / 6 / 6; }

.grid-ft-1,
.grid-ft-2,
.grid-ft-3,
.grid-ft-4,
.grid-ft-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0em;
  h1,
  h3,
  p {
    padding: 0.4rem 0rem;
    margin: 0;
  }
}

.grid-ft-6 {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  /* justify-content: flex-start; */
  padding: 0;
  img {
    width: 40px;
    height: auto;
    padding: 0;
  }
}

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
}

.bottom-border {
  margin: 2em 0 0.5em;
  border-bottom: solid 4px var(--thirty-percent) ;
}

@media (max-width: 780px) {
  .footer-grid {
    display: flex;
    flex-flow: column wrap;
    margin: 1em;
}
.grid-ft-1,
.grid-ft-2,
.grid-ft-3,
.grid-ft-4,
.grid-ft-5,
.grid-ft-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0em;
    text-align: center;
  }
  h3, p {
    padding: 0.4rem 0rem;
    margin: 0;
  }
}
