/*  Copyright Notice
    ~Privacy Policy Link
    ~Sitemap
    Logo
    Contact Information
    Social Media Icons
    Email Sign-up Form
    Footer Links
    ~Terms of use
    ~About Us
    ~Location
    ~Customer reviews
     
*/
.logo-footer {
    width: 5em;
    height:5em;
    margin: 1em 1em 0em;
}
.icon-footer{
    width: 3em;
    height: 3em;
}

.mgl{
        margin-left: 0.5rem;
}

.social-icon {
    padding: 0em 0.25em;
    width: 50px;
    height: 50px;
}

.social {
    font-size: var(--font-nm);
    font-family: var(--sub-font);
    font-weight: 600;
    letter-spacing: 0.1rem;
    /* text-align: center; */
    /* padding-left: 2.5em; */
}

hr {
    border: solid 2px #081b31;
    height:1px;
    width:200px;
    display: inline-block;
}

.footer-area{
    display: grid;
    grid-template-columns: .5fr 2fr repeat(3, 0.75fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 3em;
    font-size: var(--font-nm);
    font-family: var(--sub-font);
    background-color: #fafafa;
}

/* .footer-area > div {
    display: flex;
} */

.footer-div1 { grid-area: 1 / 1 / 2 / 2; }
.footer-div2 { grid-area: 2 / 1 / 3 / 2; }
.footer-div3 { grid-area: 3 / 1 / 4 / 2; }
.footer-div4 { grid-area: 4 / 1 / 5 / 2; }
.footer-div5 { grid-area: 5 / 1 / 6 / 2; }
.footer-div6 { grid-area: 1 / 2 / 2 / 3; display: inline-flex; align-items: center;}
.footer-div7 { grid-area: 2 / 2 / 3 / 3; display: inline-flex; align-items: center;}
.footer-div8 { grid-area: 3 / 2 / 4 / 3; display: inline-flex; align-items: center;}
.footer-div9 { grid-area: 4 / 2 / 5 / 3; }
.footer-div10 { grid-area: 1 / 3 / 5 / 4; display: inline-flex; flex-direction: column;}
.footer-div11 { grid-area: 1 / 4 / 5 / 5; display: inline-flex; flex-direction: column;}
.footer-div12 { grid-area: 1 / 5 / 3 / 6; display: flex; flex-direction: column; align-items: center;}
.footer-div13 { grid-area: 3 / 5 / 5 / 6; }
.footer-div14 { grid-area: 5 / 2 / 6 / 4; }
.footer-div15 { grid-area: 5 / 4 / 6 / 6; }

.footer-div10 a, .footer-div11 a {
    font-size: var(--font-nm);
    font-family: var(--sub-font);
    margin: 0.25em 0em;
    letter-spacing: 0.05rem;
}


.mobile-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    place-items: center;
    * {
        display: inline-flex; align-items: center;
        border: solid 1px green;
    }
}


.mob-foot1 { grid-area: 1/1/2/2;}
.mob-foot2 { grid-area: 2/1/3/2;}
.mob-foot3 { grid-area: 3/1/4/2;}
.mob-foot4 { grid-area: 4/1/5/2;}
.mob-foot5 { grid-area: 5/1/6/2;}





.emp {
    font-weight: 700;
    margin: 1em 0em 0.5em 0em;
    letter-spacing: 0.1rem;
}

.info {
    font-size: var(--font-nm);
    font-family: var(--sub-font);
    margin: 0em 1em;
}

.social-bar {
    display: inline-flex;
}