.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
    box-shadow: 0px 17px 30px var(--sixty-percent);
    border-radius: 20px;

    /* width: fit-content; */
    label {
        font-size: var(--font-md);
    }

    * {
        padding: 0.25rem 0;
    }
}

#div_id_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#id_content_helptext {
    font-size: var(--font-nm);
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--text-color-dark);
}

.textarea {
    width: clamp(18em, 50vw, 50em);
    font-size: var(--font-nm);
    font-family: var(--main-font);
    font-weight: 600;
    color: var(--text-color-dark);
    /* text-indent: 0.25rem; */
    padding: 0.25rem 0.5rem;
}

.select {
    width: 100%;
    font-size: var(--font-nm);
    font-family: var(--main-font);
    font-weight: 600;
    color: var(--text-color-dark);
    padding: 0.25rem 0.5rem;
}

.form-check-label {
    font-size: var(--font-nm);
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--text-color-dark);
}

.checkboxinput.form-check-input {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}

.checkboxinput.form-check-input:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkboxinput.form-check-input:checked~.checkboxinput.form-check-input {
    background-color: #2196F3;
    box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.checkboxinput.form-check-input:checked~.checkboxinput.form-check-input:after {
    display: block;
}

.btn {
    color: var(--thirty-percent);
    background: var(--background-color);
    border: 1px solid var(--background-color);
    border-radius: 1.5em;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #02020214, 0 -1px 12px var(--purewhite-color);
    font-family: var(--main-font);
    font-size: var(--font-md);
    font-weight: 600;
    padding: 0.25em 1em;
}