
.main {
    /* background-color: var(--ten-percent); */

    width: 100%;
    /* height: 750px; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    h1, h5, p {
        color: var(--sixty-percent);
        margin: 0 0 3rem;
    }
    h1 {
        font-family: var(--title-font);
        font-size: var(--font-title-size);
        /* letter-spacing: 0.3rem; */
    }
    h5 {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: var(--font-xl);
        /* letter-spacing: 0.2rem; */
    }
    /* p {
        font-family: var(--main-font);
        font-size: var(--font-lg);
        letter-spacing: 0rem;
    } */
}

.section_one {
    background-color: var(--ten-percent);
    margin: 0em 0em 0em;
    /* padding: 12em 20em; */
    padding: 12em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h5 {
        width:60%;
    }
}

.section_two .packages {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        /* backdrop-filter: blur(3.6px); */
        margin: 10em 5em;
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
    }
    img:hover{
        scale: 1.3;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition: 300ms ease-in-out;
        /* backdrop-filter: blur(3.6px); */
    }
    img:not(hover){
        transition: 300ms ease-in-out;
    }
}

.section_one_mobile {
    background-color: var(--ten-percent);
    margin: 0em 0em 0em;
    /* padding: 12em 20em; */
    padding: 12em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: var(--font-xl);
    }
    h5 {
        font-size: var(--font-nm);
    }
}


.section_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    img {
        margin: 10em 0em 0em;
        border-radius: 20px;
        max-width: 90%;
        max-height: auto;
        object-fit: cover;
    }
}


.section_two_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    img {
        margin: 5em 0em 0em;
        border-radius: 20px;
        max-width: 90%;
        max-height: auto;
        object-fit: cover;
    }
}

.section_two_mobile .packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10em 0 0;
    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        /* backdrop-filter: blur(3.6px); */
        margin: 2em 0em;
        max-width: 90%;
        max-height: auto;
        object-fit: cover;
    }
}

/* Mobile Media */
@media (max-width: 780px) {
  .section_one { display: none !important; }
  .section_one_mobile { display: flex !important; }
  .section_two { display: none !important; }
  .section_two_mobile { display: flex !important; }
}
/* Tablet Media */
@media screen and  (781px <= width <= 1024px) {
  .section_one { display: flex !important; }
  .section_one_mobile { display: none !important; }
  .section_two { display: none !important; }
  .section_two_mobile { display: flex !important; }
}
/* Full Size Media */
@media (min-width: 1025px) {
  .section_one { display: flex !important; }
  .section_one_mobile { display: none !important; }
  .section_two { display: flex !important; }
  .section_two_mobile { display: none !important; }
}


/* .glass {
    border-radius: 20px;
    box-shadow: 0 4px 55px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2.4px);
} */
/* 
.pillars {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-top: 10rem;
    img {
        width: 60px;
        height: 60px;
    }
    li {
        color: var(--thirty-percent);
    }
    li:nth-of-type(odd) {
        font-size: 4.2rem;
        font-family: 'Oswald';
        letter-spacing: 0.4rem;
        margin-top: 2rem;
    }
    li:nth-of-type(even) {
        font-size: 1.2rem;
        font-family: 'Oswald';
        letter-spacing: 0.2rem;
        margin-bottom: 2rem;
    }
}
.values {
    font-size: 1rem;
    font-family: 'Aleo';
    letter-spacing: 0rem;
} */
