.main {
    /* background-color: var(--ten-percent); */
    width: 100%;
    /* height: 750px; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    h1 {
        font-family: var(--title-font);
        font-size: var(--font-title-size);
        color: var(--sixty-percent);
        /* letter-spacing: 0.3rem; */
    }
    h5 {
        font-family: var(--main-font);
        font-weight: 600;
        font-size: var(--font-xl);
        color: var(--sixty-percent);
        /* letter-spacing: 0.2rem; */
    }
    p {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: var(--font-md);
        color: var(--sixty-percent);

    }
}



.section_one {
    background-color: var(--ten-percent);
    margin: 0em 0em 0em;
    /* padding: 12em 20em; */
    padding: 12em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h5 {
        width:60%;
    }
}

.section_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    img {
        margin: 0 0 4em;
        border-radius: 20px;
        max-width: 800px;
        max-height: auto;
        object-fit: cover;
    }
}

/* .section_two {
    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        margin: 2em;
        max-width: 600px;
        max-height: auto;
        object-fit: cover;
    }
} */

.section_two .packages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        /* backdrop-filter: blur(3.6px); */
        margin: 10em 5em;
        /* max-width: 400px; */
        max-height: auto;
        object-fit: cover;
    }
    img:hover{
        scale: 1.3;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition: 300ms ease-in-out;
        /* backdrop-filter: blur(3.6px); */
    }
    img:not(hover){
        transition: 300ms ease-in-out;
    }
}
.section_one_mobile {
    background-color: var(--ten-percent);
    margin: 0em 0em 0em;
    /* padding: 12em 20em; */
    padding: 12em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: var(--font-xl);
    }
    h5 {
        font-size: var(--font-nm);
    }
}

.section_two_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    img {
        margin: 5em 0em 0em;
        border-radius: 20px;
        max-width: 90%;
        max-height: auto;
        object-fit: cover;
    }
}

.section_two_mobile .packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10em 0 0;
    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        /* backdrop-filter: blur(3.6px); */
        margin: 2em 0em;
        max-width: 90%;
        max-height: auto;
        object-fit: cover;
    }
}

.container {
    display: flex;
    /* align-items: flex-start; */
    margin:10em;    
    h1 {
        font-family: var(--main-font);
        font-size: var(--font-xl);
        color: var(--ten-percent);
    }
    h5 {
        position: relative;
        z-index: 2;
        font-family: var(--main-font);
        font-size: var(--font-lg);
        color: var(--thirty-percent);
    }
    p{
        font-family: var(--main-font);
        font-size: var(--font-md);
        color: var(--thirty-percent);
    }
}

.side_area {
    /* border: solid 2px blue; */
    flex-basis: 100%;
    height: 800px;
}

/* .section_body {
    border: solid 2px red;
}

.boxed {
    background-color: aqua;
} */

.negativebox {
    width: 30%;
    height: 50px;
    z-index: 0;
    position: absolute;
    margin: 0 0 0 -2rem;
    border-radius: 0 0 10px 0;
    box-shadow: 0 27px 30px var(--sixty-percent);
}

/* Mobile Media */
@media (max-width: 780px) {
  .section_one { display: none !important; }
  .section_one_mobile { display: flex !important; }
  .section_two { display: none !important; }
  .section_two_mobile { display: flex !important; }
}
/* Tablet Media */
@media screen and  (781px <= width <= 1024px) {
  .section_one { display: flex !important; }
  .section_one_mobile { display: none !important; }
  .section_two { display: none !important; }
  .section_two_mobile { display: flex !important; }
}
/* Full Size Media */
@media (min-width: 1025px) {
  .section_one { display: flex !important; }
  .section_one_mobile { display: none !important; }
  .section_two { display: flex !important; }
  .section_two_mobile { display: none !important; }
}



