.main {
  background-color: var(--background-color);
  /* width: 80%; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: var(--title-font);
    font-size: var(--font-title-size);
    /* color: var(--sixty-percent); */
    /* letter-spacing: 0.3rem; */
  }

  h5 {
    font-family: var(--main-font);
    /* font-weight: 100; */
    font-size: var(--font-lg);
    /* color: var(--ten-percent); */
    /* letter-spacing: 0.2rem; */
  }

  p {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: var(--font-md);
    color: var(--sixty-percent);
  }
}

.section_one {
  background-color: var(--ten-percent);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1,
  h5 {
    width: 60%;
    color: var(--text-color);
  }
}

.section_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);

  h1 {
    font-family: var(--title-font);
    font-size: var(--font-xxl);
    color: var(--ten-percent);
  }

  h5 {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: var(--font-xl);
    color: var(--ten-percent);
  }

  p {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: var(--font-md);
    color: var(--thirty-percent);
  }
}

/* .section_two {
    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        margin: 2em;
        max-width: 600px;
        height: auto;
        object-fit: cover;
    }
} */

.section_one .packages {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding: 0 10em;
  background-color: var(--background-color);

  img {
    border-radius: 20px;
    box-shadow: -1px -1px 20px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(60 122 137 / 13%);
    margin: 10em 5em;
    object-fit: cover;
    max-width: 300px;
  }

  img:hover {
    scale: 1.3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: 300ms ease-in-out;
  }

  img:not(hover) {
    transition: 300ms ease-in-out;
  }
}

.packages {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10em 0 0;

  img {
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    /* backdrop-filter: blur(3.6px); */
    margin: 2em 0em;
    max-width: 90%;
    max-height: auto;
    object-fit: cover;
  }
}

.parent {
  display: grid;
  grid-template-columns: clamp(0px, 0%, 100px) clamp(20px, 20%, 100px) repeat(3,
      1fr);
  /* grid-template-rows: repeat(11, 1fr); */
  grid-auto-rows: min-content;
  grid-column-gap: 0px;
  grid-row-gap: 24px;
  width: 60%;
  margin: clamp(5em, 2em + 0.3vw, 6em);

  h5 {
    margin: 0 0 0.5em;
    padding: 0;
    color: var(--ten-percent);
  }

  /* p {

    } */
  img {
    border-radius: 20%;
    /* box-shadow: 6px 8px 20px 0px var(--sixty-percent); */
    /* margin: 0em 1em; */
    width: clamp(50px, 80%, 100px);
    height: auto;
  }

  div:nth-child(3n + 1) {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-end; */
  }

  div:nth-child(3n + 2) {
    box-shadow: -1px 20px 30px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding: 0 1em;
  }

  div:nth-child(3n + 3) {
    margin: 0 0 10em;
  }
}

/* row-start | column-start | row-end | column-end */
.grid1 {
  grid-area: 1 / 2 / 3 / 3;
}

.grid2 {
  grid-area: 1 / 3 / 2 / 6;
}

.grid3 {
  grid-area: 2 / 1 / 3 / 6;
}

.grid4 {
  grid-area: 3 / 2 / 5 / 3;
}

.grid5 {
  grid-area: 3 / 3 / 4 / 6;
}

.grid6 {
  grid-area: 4 / 1 / 5 / 6;
}

.grid7 {
  grid-area: 5 / 2 / 7 / 3;
}

.grid8 {
  grid-area: 5 / 3 / 6 / 6;
}

.grid9 {
  grid-area: 6 / 1 / 7 / 6;
}

.grid10 {
  grid-area: 7 / 2 / 9 / 3;
}

.grid11 {
  grid-area: 7 / 3 / 8 / 6;
}

.grid12 {
  grid-area: 8 / 1 / 9 / 6;
}

.grid13 {
  grid-area: 9 / 2 / 11 / 3;
}

.grid14 {
  grid-area: 9 / 3 / 10 / 6;
}

.grid15 {
  grid-area: 10 / 1 / 11 / 6;
}

.grid16 {
  grid-area: 11 / 2 / 13 / 3;
}

.grid17 {
  grid-area: 11 / 3 / 12 / 6;
}

.grid18 {
  grid-area: 12 / 1 / 13 / 6;
}

tag {
  display: flex;
  align-items: center;
  background-color: #ffa62b2e;
  font-family: var(--main-font);
  font-size: var(--font-nm);
  border: solid 1px var(--ten-percent);
  border-radius: 20px;
  width: fit-content;
  padding: 0.35em;
  color: var(--ten-percent);

  img {
    width: 20px;
    margin: 0 0.25rem 0 0;
  }
}

.test-parent {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 10em 0 0;
}

.parent-column-left {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2em;
  /* border: solid 1px blue; */
}

.parent-column-right {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2em;
  /* border: solid 1px blue; */
}

.card-info {
  border-radius: 20px;
  background: #ffffff82;
  /* box-shadow: 0px 0px 20px 0px #000; */
  /* filter: drop-shadow(1px 1px 3px var(--thirty-percent)); */
  /* width: fit-content; */
  margin: 2em 0;

  ul {
    list-style-type: none;
    font-family: var(--main-font);
    font-size: var(--font-md);
    padding: 0 0 0 1.5rem;
    color: var(--ten-percent);
    width: max-content;

    :first-child {
      font-weight: 900;
      color: var(--thirty-percent);
    }

    li {
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 1em 0 0;
    }

    img {
      width: 20px;
      margin: 0 0.5rem 0 0;
    }

  }

}

.card-grid {
  /* grid-area: 1 / 3 / 6 / 6; */
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.25fr 1fr 0.25fr 1fr 0.25fr;
  row-gap: 0px;
  /* border: solid 4px #ffa62b17; */
  border-radius: 20px;
  background: #ffffff82;
  /* filter: drop-shadow(1px 1px 3px var(--thirty-percent)); */

  p {
    color: var(--ten-percent);
  }
}

.card-1 {
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 20px;
  box-shadow: 2px 1px 20px 0px #02020212;;
  padding: 1em;
  /* background: #59e9d01c; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  ;
}

.card-2 {
  grid-area: 2 / 4 / 3 / 5;
  border-radius: 20px;
  box-shadow: 2px 1px 20px 0px #02020212;;
  padding: 1em;
  /* background: #59e9d01c; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  ;
}

.card-3 {
  grid-area: 4/ 2 / 5 / 3;
  border-radius: 20px;
  box-shadow: 2px 1px 20px 0px #02020212;;
  padding: 1em;
  /* background: #59e9d01c; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  ;
}

.card-4 {
  grid-area: 4 / 4 / 5 / 5;
  border-radius: 20px;
  box-shadow: 2px 1px 20px 0px #02020212;
  padding: 1em;
  /* background: #59e9d01c; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  ;
}

.button-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  /* justify-content: space-around; */
}

button.button-1 {
  display: flex;
  align-items: center;
  color: var(--purewhite-color);
  padding: 0.7em 1.7em;
  /* font-size: 18px; */
  border-radius: 1.5em;
  background: #ffa62b;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #02020212, -6px -6px 12px #ffffff;
  font-size: var(--font-nm);
  font-family: var(--main-font);
  font-weight: 700;

  img {
    width: 14px;
    transform: translateX(0px);
    opacity: 0;
    transition: transform 300ms ease-in, opacity 100ms ease-in-out;
  }

}

button:hover img {
  transform: translateX(10px);
  opacity: 1;
}

button.button-2 {
  color: var(--ten-percent);
  padding: 0.7em 1.7em;
  /* font-size: 18px; */
  border-radius: 1.5em;
  background: var(--background-color);
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #02020212, 0px -1px 12px #ffffff;
  font-size: var(--font-nm);
  font-family: var(--main-font);
  font-weight: 500;
  margin: 0 0 0 4rem;
}

button.button-1:hover {
  background-color: #ff9e2b;;
}

button.button-2:hover {
  background-color: #caf3fd5e;
  /* color: var(--purewhite-color); */
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

/* Mobile Media */
@media (max-width: 780px) {
  .test-parent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0.25em;
  }

  .card-grid {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--background-color);
    margin: 2em 0 0;
    .card-1, .card-2, .card-3, .card-4 {
      margin: 1.5em 0;
    }
    p {
      font-size: var(--font-sm);
    }
  }
  
  /* allow li text to wrap on mobile */
  .card-info ul {
    width: 100%;
    padding:0;
    /* or auto */
  }
  
  .card-info ul li {
    white-space: normal;
    /* re‑enable wrapping */
    text-overflow: clip;
    /* optional: remove ellipsis behavior */
    margin: 0.5rem 0;
    img {
      width: 10px;
    }
  }

  button.button-1, button.button-2 {
    font-size: var(--font-sm);
    text-wrap: nowrap;
  }
  button.button-2 {
    margin: 0 0 0 1rem;
  }
}


/* Tablet Media */
@media screen and (781px <=width <=1024px) {
  .test-parent {
    display: flex;
    flex-flow: column wrap;
    /* align-items: center;
    justify-content: center;
    width: 80%; */
  }

  .card-grid {
    margin: 5em 0 0 0;
  }
}

/* Full Size Media */
/* @media (min-width: 1025px) {
  .section_one { display: flex !important; }
  .section_one_mobile { display: none !important; }
  .section_two { display: flex !important; }
  .section_two_mobile { display: none !important; }
} */