.main {
    /* background-color: var(--ten-percent); */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: var(--title-font);
        font-size: var(--font-title-size);
        color: var(--sixty-percent);
        /* letter-spacing: 0.3rem; */
    }

    h5 {
        font-family: var(--main-font);
        font-weight: 100;
        font-size: var(--font-lg);
        color: var(--sixty-percent);
        /* letter-spacing: 0.2rem; */
    }

    p {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: var(--font-md);
        color: var(--sixty-percent);
    }
}

.section_one {
    background-color: var(--ten-percent);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1,
    h5 {
        width: 60%;
        color:var(--text-color);
    }

}

.section_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background-color);

    h1 {
        font-family: var(--title-font);
        font-size: var(--font-xxl);
        color: var(--ten-percent);
    }

    h5 {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: var(--font-xl);
        color: var(--ten-percent);
    }

    p {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: var(--font-md);
        color: var(--thirty-percent);
    }
}

/* .section_two {
    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        margin: 2em;
        max-width: 600px;
        max-height: auto;
        object-fit: cover;
    }
} */

.section_one .packages {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    padding: 0 10em;
    background-color: var(--background-color);

    img {
        border-radius: 20px;
        box-shadow: -1px -1px 20px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid rgb(60 122 137 / 13%);
        margin: 10em 5em;
        object-fit: cover;
        max-width: 300px;
    }

    img:hover {
        scale: 1.3;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition: 300ms ease-in-out;
    }

    img:not(hover) {
        transition: 300ms ease-in-out;
    }
}

.packages {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10em 0 0;

    img {
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        /* backdrop-filter: blur(3.6px); */
        margin: 2em 0em;
        max-width: 90%;
        max-height: auto;
        object-fit: cover;
    }
}

.parent {
    display: grid;
    grid-template-columns: clamp(0px, 0%, 100px) clamp(20px, 20%, 100px) repeat(3, 1fr);
    /* grid-template-rows: repeat(11, 1fr); */
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 24px;
    width: 60%;
    margin: clamp(5em, 2em + 0.3vw, 6em);

    h5 {
        margin: 0 0 0.5em;
        padding: 0;
        color: var(--ten-percent);
    }

    /* p {

    } */
    img {
        border-radius: 20%;
        /* box-shadow: 6px 8px 20px 0px var(--sixty-percent); */
        /* margin: 0em 1em; */
        width: clamp(50px, 80%, 100px);
        ;
        height: auto;
    }

    div:nth-child(3n+1) {
        display: flex;
        align-items: flex-start;
        /* justify-content: flex-end; */
    }

    div:nth-child(3n+2) {
        box-shadow: -1px 20px 30px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
        padding: 0 1em;

    }

    div:nth-child(3n+3) {
        margin: 0 0 10em;
    }

}


/* row-start | column-start | row-end | column-end */
.grid1 {
    grid-area: 1 / 2 / 3 / 3;
}

.grid2 {
    grid-area: 1 / 3 / 2 / 6;
}

.grid3 {
    grid-area: 2 / 1 / 3 / 6;
}

.grid4 {
    grid-area: 3 / 2 / 5 / 3;
}

.grid5 {
    grid-area: 3 / 3 / 4 / 6;
}

.grid6 {
    grid-area: 4 / 1 / 5 / 6;
}

.grid7 {
    grid-area: 5 / 2 / 7 / 3;
}

.grid8 {
    grid-area: 5 / 3 / 6 / 6;
}

.grid9 {
    grid-area: 6 / 1 / 7 / 6;
}

.grid10 {
    grid-area: 7 / 2 / 9 / 3;
}

.grid11 {
    grid-area: 7 / 3 / 8 / 6;
}

.grid12 {
    grid-area: 8 / 1 / 9 / 6;
}

.grid13 {
    grid-area: 9 / 2 / 11 / 3;
}

.grid14 {
    grid-area: 9 / 3 / 10 / 6;
}

.grid15 {
    grid-area: 10 / 1 / 11 / 6;
}

.grid16 {
    grid-area: 11 / 2 / 13 / 3;
}

.grid17 {
    grid-area: 11 / 3 / 12 / 6;
}

.grid18 {
    grid-area: 12 / 1 / 13 / 6;
}


/* Mobile Media */
/* @media (max-width: 780px) {
  .section_one { display: none !important; }
  .section_one_mobile { display: flex !important; }
  .section_two { display: none !important; }
  .section_two_mobile { display: flex !important; }
} */
/* Tablet Media */
/* @media screen and  (781px <= width <= 1024px) {
  .section_one { display: flex !important; }
  .section_one_mobile { display: none !important; }
  .section_two { display: none !important; }
  .section_two_mobile { display: flex !important; }
} */
/* Full Size Media */
/* @media (min-width: 1025px) {
  .section_one { display: flex !important; }
  .section_one_mobile { display: none !important; }
  .section_two { display: flex !important; }
  .section_two_mobile { display: none !important; }
} */