text {
  font-size: var(--font-nm);
  font-family: var(--main-font);
}

.header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 0px;
  }
  

  .selections {
    grid-area: 1 / 7 / 2 / 8; 
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 3em;
  }
  
  .grids {
    grid-area: 1 / 1 / 2 / 2; 
   }

  .navbar {
    overflow: hidden;
    background-color: inherit;
    font-family: var(--main-font);
    font-size: var(--font-md);
    grid-area: 1 / 2/ 2 / 7; 
    display: flex;
    align-items: center;
    margin-right: auto;
}

  /* Links inside the navbar */
.navbar a {
    font-size: var(--font-nm);
    text-decoration: none;
    color: var(--oxford-blue);
    letter-spacing: 0.15rem;
    padding-right: 30px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  font-family: var(--font);
}
  
/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: var(--oxford-blue);
  letter-spacing: 0.15rem;
  font-size: var(--font-nm);
  font-family: var(--font);
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
      font-family: var(--font);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position:absolute;
  width: 100%;
  height: auto;
  left: 0;
  padding-top: 2.5em;
  box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
  z-index: 10;
  background-color: #fff8ee;  
}

.dropdown-content {
padding: auto;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content h3 {
  text-transform: uppercase;
  font-size: var(--font-md);
  font-family: var(--sub-font);
  letter-spacing: 0.15rem;
  padding: 0;
}
/* Create three equal columns that floats next to each other */
.dd-row {
  display: grid;
  grid-template-columns: .5fr repeat(4, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* place-items: flex-start; */
  /* height: 350px; */
  /* width: 100%; */
}

/* .dd-row > div {
  border: solid 1px red;
} */

/* div2 for row section */
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; }
.div6 { grid-area: 2 / 1 / 5 / 6;
 display: inline-flex;
 justify-content: space-around;
align-items: center; 
background-color: #fff;}


.centered {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 5em;
  color: var(--oxford-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--font);
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--oxford-blue);
    border-radius: 5em;
    z-index: -2;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--oxford-blue);
    transition: all .3s;
    border-radius: 5em;
    z-index: -1;
  }
  &:hover {
    color: var(--color);
    &::before {
      width: 100%;
    }
  }
}

.tag {
  font-size: var(--font-sm);
  font-family: var(--sub-font);
  margin-left: 0.5rem;
  letter-spacing: 0.1rem;
}