body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #fff8ee;
}

main {
  padding: min(1em, 7%);

  p {
    margin-top: .35em;
  }

  h3 {
    color: var(--sixty-percent);
    /* letter-spacing: 0.5ch; */
  }
}

.logo {
  width: clamp(6rem, 3vw + 0.2rem, 8rem);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  /* height: auto;
  margin-top: -20px;
  filter: drop-shadow(-2px 0px 4px #1a1818); */
}

.top-corner {
  margin: -20em 0 0 0;
}

nav {
  background-color: var(--background-color);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: flex-end;
}

nav .home-li {
  margin-right: 0px;
}

nav li {
  display: flex;
}

nav a {
  display: flex;
  padding: 1em 2em;
  font-size: var(--font-md);
  font-family: var(--main-font);
  font-weight: 700;
  text-decoration: none;
  color: var(--thirty-percent);
}

nav a:hover {
  color: var(--thirty-percent);
  background-color: var(--hover-color);
}

nav a.active-link {
  border-bottom: 2px solid var(--text-color);
}

nav a.accent-link {
  right: 0;
}

/* nav li:last-child {
margin-left: auto;
margin-right: 1em;
} */

.nav-icons {
  width: 2em;
  height: auto;

  p {
    margin-left: 1em;
  }
}

.marginLeft {
  margin-left: auto;
}

#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

#overlay {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  /* inset: 0; */
  z-index: 9;
  display: none;
}

.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid #ffffff;
}

@media screen and (max-width: 780px) {

  #open-sidebar-button,
  #close-sidebar-button {
    display: block;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(80%);
    z-index: 99;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0)
  }

  nav.show {
    right: 0;
  }

  nav.show~#overlay {
    display: block;

  }

  nav ul {
    width: 100%;
    flex-direction: column;
    box-shadow: 6px -2px 10px var(--accent-color);
    border-radius: 20px 0px 0px 20px;
    /* bordeR: 1px solid var(--accent-color); */
    backdrop-filter: blur(0px);
    background-color: var(--background-color);
    align-items: flex-start;
  }


  nav li:last-child {
    margin: 0;
  }

  nav a {
    width: 100%;
    padding-left: 2.5em;
    color: var(--ten-percent);
    font-size: var(--font-lg);
  }

  nav a.active-link {
    border-bottom: none;
  }

  nav .home-li {
    margin-right: unset;
  }

  nav .classes {
    display: block;
  }

}




@media (769px <=width <=1024px) {
  nav a {
    display: flex;
    padding: 0.75em;
    font-size: var(--font-lg);
    text-decoration: none;
    color: var(--ten-percent);
    letter-spacing: 0.15rem;
    /* padding-right: 30px; */
    transition: background-color 150ms ease;
  }
}

/* The dropdown container */

.dropdown {
  float: left;
  overflow: hidden;
  font-family: var(--main-font);
  margin: 0em;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: var(--font-md);
  color: var(--oxford-blue);
  letter-spacing: 0.15rem;
  background-color: inherit;
  font-family: var(--main-font);
  border: none;
  outline: none;
  display: flex;
  align-items: center;

  a {
    padding: 0 1em;
  }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0;
  padding-top: 2.5em;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background-color: #fff8ee;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content h3 {
  text-transform: uppercase;
  font-size: var(--font-md);
  font-family: var(--sub-font);
  letter-spacing: 0.15rem;
  padding: 0;
}

/* Create three equal columns that floats next to each other */
.dd-row {
  display: grid;
  grid-template-columns: .25fr repeat(3, 1fr);
  grid-template-rows: 5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
}

.dd-row a {
  padding: 0;
  text-transform: uppercase;
}

.dd-row h3 {
  font-size: var(--font-lg);
  font-family: var(--main-font);
}

/* div2 for row section */
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.div5 {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0em;
  margin-top: 0.5em;
  background-color: #fff;
}


.div2 a,
.div3 a,
.div4 a {
  /* background-color:red; */
  align-items: center;
}

.dd-row img {
  margin-right: 1em;
  width: 20px;
}

/*Remove this? */
.centered {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* p {
        padding-left: .05rem;
    } */
}

/*Here*/


.login {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 5em;
  color: var(--oxford-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--font);
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--oxford-blue);
    border-radius: 5em;
    z-index: -2;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--oxford-blue);
    transition: all .3s;
    border-radius: 5em;
    z-index: -1;
  }

  &:hover {
    color: var(--color);

    &::before {
      width: 100%;
    }
  }
}

.tag {
  font-size: var(--font-sm);
  font-family: var(--sub-font);
  text-indent: 1em;
  letter-spacing: 0.1rem;
}