
/* Mobile devices */
@media (width <= 480px) {
    .center-img {
      width: 20em;
    }
  .comp-img  {
      width: 50em;
   }
  }
  
  /* iPads and tablets */
  @media (481px <= width <= 768px) {
    .center-img {
      width: 20em;
    }
  .comp-img  {
      width: 50em;
    }
  }
  
  /* Small screens and laptops */
  @media (769px <= width <= 1024px) {
    .center-img {
      width:25em;
    }  
    .comp-img {
        width: 75em;
    }
  }
  
  /* Desktops and large screens */
  @media (1025px <= width <= 1500px) {
    .center-img {
      width: 30em;
    }
    .comp-img {
        width: 80em;
    }
  }
  
  /* Extra large screens and TVs */
  @media (width >= 1501px) {
    .center-img {
       width: 35em;
    }
    .comp-img {
        width: 100em;
    }
  }

  