.scroll-circle-target {
  transition: border 0.4s ease, border-radius 0.4s ease;
}

/* Circle style when in view */
.scroll-circle-target.in-view {
  /* border: 4px solid #3498db; */
  /* border-radius: 50%; */
  animation: rotate 4s linear infinite;  /* Continuous rotation */
}

/* Keyframe animation for rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}