body {
  max-height: 100svh;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  background: var(--purewhite-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--text-color-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-nm: clamp(
    0.75rem,
    0.8rem + 0.2vw,
    1.05rem
  ); /* ~15–17px [web:5][web:10] */
  --font-sm: clamp(
    0.75rem,
    0.7rem + 0.2vw,
    1rem
  ); /* ~12–14px [web:5][web:10] */
  --font-md: clamp(
    1.05rem,
    0.9rem + 0.3vw,
    1.25rem
  ); /* ~17–20px [web:5][web:10] */
  --font-lg: clamp(
    1.25rem,
    1.05rem + 0.3vw,
    1.6rem
  ); /* ~20–26px [web:5][web:8] */
  --font-xl: clamp(
    1.6rem,
    1.6rem + 0.3vw,
    2.5rem
  ); /* ~26–34px [web:5][web:8] */
  --font-xxl: clamp(
    2rem,
    1.6rem + 0.3vw,
    3.2rem
  ); /* ~34–45px [web:5][web:8] */
  --font-title-size: clamp(
    3rem,
    1rem + 0.4vw,
    5.75rem
  ); /* ~45–60px [web:5][web:10] */

  --title-font: "Crimson";
  --main-font: "Nunito";
  --anchor-font: "Caprasimo";
  --accent-font: "Comfortaa";
  --paragraph-font: "Inter";
  --purewhite-color: #e7eff7;
  --background-color: #f3f7fc;
  --text-color: #ede7e3;
  --text-color-dark: #16283b;
  --sixty-percent: #62a2ce; /* Thirty + Sixty for Icon colors */
  --thirty-percent: #2d6a9c;
  --ten-percent: #254e70;
  --accent-color: #ffa62b;
}


h1 {
  font-family: var(--title-font);
  font-size: var(--font-title-size);
  font-weight: 900;
  color: var(--ten-percent);
  margin: 1em 0 0.68em;
}

h2 {
  font-family: var(--title-font);
  font-size: var(--font-xxl);
  color: var(--ten-percent);
  margin: 1em 0 0.68em;
}

h3 {
  font-family: var(--main-font);
  font-size: var(--font-xl);
  color: var(--ten-percent);
  margin: 1em 0 0.68em;
}

h4 {
  font-family: var(--main-font);
  font-size: var(--font-lg);
  color: var(--ten-percent);
  margin: 1em 0 0.68em;
}

h5 {
  font-family: var(--main-font);
  font-size: var(--font-lg);
  font-weight: 300;
  color: var(--thirty-percent);
  margin: 0 0 1em;
}

p {
  font-family: var(--paragraph-font);
  font-size: var(--font-md);
  font-weight: 300;
  color: var(--text-color-dark);
}

ul {
  list-style-type: none;
  font-family: var(--main-font);
  font-size: var(--font-md);
  /* padding: 0.6rem; */
  color: var(--thirty-percent);
}

li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0.5rem;
}

strong {
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--ten-percent);
}

.main {
  background-color: var(--background-color);
  /* width: 80%; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 5.5em;
}

