body {
  max-height: 100svh;
  margin: 0 auto;
  padding: 0;
  background-color: #ede7e3;
  scroll-behavior: smooth; /*For bookmark links*/
  /* background-color: red; */
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  background: #050505;
}
body::-webkit-scrollbar-thumb {
  background: var(--sub-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-nm: clamp(
    0.95rem,
    0.8rem + 0.3vw,
    1.05rem
  ); /* ~15–17px [web:5][web:10] */
  --font-sm: clamp(
    0.75rem,
    0.7rem + 0.2vw,
    0.875rem
  ); /* ~12–14px [web:5][web:10] */
  --font-md: clamp(
    1.05rem,
    0.9rem + 0.4vw,
    1.25rem
  ); /* ~17–20px [web:5][web:10] */
  --font-lg: clamp(
    1.25rem,
    1.05rem + 0.6vw,
    1.6rem
  ); /* ~20–26px [web:5][web:8] */
  --font-xl: clamp(
    0.5rem,
    1rem + 0.9vw,
    2.5rem
  ); /* ~26–34px [web:5][web:8] */
  --font-xxl: clamp(
    2.1rem,
    1.6rem + 1.3vw,
    2.8rem
  ); /* ~34–45px [web:5][web:8] */
  --font-title-size: clamp(
    2.8rem,
    2rem + 2vw,
    6.75rem
  ); /* ~45–60px [web:5][web:10] */

  --title-font: "Crimson";
  --main-font: "Nunito";
  --anchor-font: "Caprasimo";
  --accent-font: "Comfortaa";
  --paragraph-font: "Inter";
  --background-color: #F9F6EE;
  --text-color: #ede7e3;
  --sixty-percent: #82c0cc;
  --thirty-percent: #489fb5;
  --ten-percent: #16697a;
  --accent-color: #ffa62b;
}


a {
  font-size: var(--font-md);
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--dark-blue);
  &:hover {
    color: var(--anchor-hov);
  }
}

h1 {
  font-family: var(--title-font);
  font-size: var(--font-xxl);
  color: var(--thirty-percent);
}
h5 {
  font-family: var(--main-font);
  font-size: var(--font-lg);
  font-weight: 300;
  color: var(--ten-percent);
}

p {
  font-family: var(--paragraph-font);
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--ten-percent);
}

main {
  margin: 0em 1em;
  padding: 0;
}

.icon {
  width: 5.5em;
}
