body{
    max-height: 100svh;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
    scroll-behavior: smooth; /*For bookmark links*/
    /* background-color: red; */
  }
  
body::-webkit-scrollbar{
    width: 0.5em;
  }
body::-webkit-scrollbar-track{
    background: #050505;
  }
body::-webkit-scrollbar-thumb{
    background: var(--sub-color);
  }
  
*, 
*::before,
*::after {
      box-sizing: border-box;
    }
  
:root{
     font-size: 16px;
     --font-xm: 0.5rem;
     --font-sm: 0.75rem;
     --font-nm: 1rem;
     --font-md: 1.25rem;
     --font-lg: 1.75rem;
     --font-xl: 2rem;
     --font-xxl: 2.5rem;
     --font-title-size: 6rem;
     --title-font: "Courgette";
     --main-font: "Nunito";
     --anchor-font: "Caprasimo";
     --accent-font: "Comfortaa";
     --paragraph-font: "Asul";
     --background-color: #f5f5f5;
     --sixty-percent: #e5dada;
     --thirty-percent: #3c7a89;
     --ten-percent: #16262e;
   }

/* Media Queries */
@media screen and  (width <= 768px){
  body { 
    font-size: 8px;
  }
}
/* Small screens and latops */
@media screen and  (769px <= width <= 1024px){
  body { 
    font-size: 10px;
  }
}
/* Desktops and Large Screens */
@media screen and  (1025px <= width <= 1200px){
  body { 
    font-size: 12px;
  }
}
/* Extra large sceens and TV */
@media screen and  (1201px <= width <= 1500px){
  body { 
    font-size: 14px;
  }
}

@media screen and  (width >= 1501px) {
  body { 
    font-size: 16px;
  }
}

a {
  font-size: var(--font-md);
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--dark-blue);
  &:hover{
    color: var(--anchor-hov);
  }
}

/* h1 {
  font-family: var(--title-font);
  font-size: var(--font-xxl);
  color: var(--dark-blue);
}
h3 {
    font-family: var(--main-font);
    font-size: var(--font-lg);
    font-weight: 300;
    color: var(--dark-blue);
  }

  p {
    font-family: var(--paragraph-font);
    font-size: var(--font-md);
    font-weight: 500;
    color: var(--dark-blue);
  } */

 main {
    margin: 0em 1em;
    padding: 0;
}

.icon {
  width: 5.5em;
}

