button  p {
  font-size: var(--font-nm);
  font-family: var(--main-font);
  font-weight: 600;
  letter-spacing: 0.125rem;
  color: var(--dark-blue);
  padding-left: 0.75em;
}

h1, p {
    color: var(--dark-blue);
  }
h1 {
  font-size: var(--font-xxl);
  font-family: var(--main-font);
}
p{
  font-size: var(--font-nm);
  font-family: var(--sub-font);
}

a ~ img {
  padding-right: 5em;
}


.top-container {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  margin:auto;
  padding: 1em;
  width:72%;
}

.headline {
  margin: 2em 0;
}

.icon-img {
  width: 2em;
  height: 2em;
}

.faq-container {
    display:flex;
    flex-direction: column;
}

.block {
  margin-bottom: 1.5rem;
}

.accordion {
    background-color: #eee;
    color: var(--oxford-blue);
    cursor: pointer;
    padding: 0em 0em 0em 0.5em;
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;
    background: rgba(218, 211, 201, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(202, 196, 187, 0.01);
  }
  
  .active, .accordion:hover {
    background-color: #f8f0e2;
  }
  
  .panel {
    padding: 0 18px;
    color: var(--oxford-blue);
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    margin: auto;
    background: rgba(255, 248, 238, 0.9);
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    /* border: 1px solid rgba(255, 248, 238, 0.49); */
    p {
      font-size: var(--font-nm);
      font-family: var(--sub-font);
      color: var(--oxford-blue);
      letter-spacing: 0.05rem;
      /* padding-left: 2em; */
    }
  }

