
  ul,li,h1,h3,p { 
    padding:0;
    margin:0;  
}

.parent-col {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img, h3{
    padding: 0 0.36em;
  }
}

.faqs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}